body{
    margin: 0px;
}
h2{
    background-color: rosybrown;
    height: 35px;
    padding: 15px;
    padding-left: 100px;
}

.adopted-cat{
    display: flex;
    justify-content: center;
}
img{

    width: 100px;
    height: 100px;
}
.name, .type, .gender, .delete{
    position: relative;
    width: 160px;
    height: 80px;
    font-size: 16px;
    top: 28px;
    text-align: center;
    
}
.name{
    font-weight: 900;
    font-size: 23px;
    top:25px;
}
.delete{
    cursor: pointer;

}
