<style>
    @media screen and (max-width:430px) {
    .header{
      width: 100%;  
  }
    .header .logo{
      display:none;
    }
    .header .nav{
      font-size: 14px;
    }
    .header .one{
      left:15px;
    }
    .header .two{
      right:54%;
    }
    .header .three{
      right:29%;
    }
    .header .four{
      display:none;
    }
    .cart-number{
      right:10px;
      font-size:16px;
      font-weight: 900;
      padding: 30px 0px 0px 0px;
    }
    .section1{
      position:relative;
      top: 30px;
  }
  
  
  #items_layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }
  
  .item {
    max-width: 240px;
    display: inline-block;
  }
  
  .item_body li{
    font-size: 14px;
    
  }
  
  .filter-division {
    flex: 100%;
  }
  
  
  .pagination_div{
    margin-right: 40px;
  }

  }
</style>




<div class="header">
    <div class="logo"><a href="index.html">Catropolis <br>. Breakout7</a></div>
    <div class="nav one"><a href="index.html">Adopting</a></div>
    <div class="nav two"><a href="have-fun.html">Have Fun</a></div>
    <div class="nav three"><a href="team.html">Our Team</a></div>
    <div class="nav four"><a href="contact.html">Contact</a></div>
    <div class="cart-number"></div>
</div>
<!--
<script>
const numberHtml=document.getElementsByClassName("cart-number");

$(document).ready(function(){
    $.get(` https://catropolis-55dac-default-rtdb.firebaseio.com/User-Cart/${user}/.json`, null, function (res) {
            console.log(res);
            let adoptedNumber=Object.keys(res).length;
            numberHtml[0].innerHTML=`<a href="cart.html?id=${id}" target="_blank"><div class="cart"><i class="bi bi-cart-fill"></i> Cart ${adoptedNumber}</div></a>`;
        });
    })
</script>
-->